@import "compass/utilities/sprites";
@import "compass/css3/border-radius";
@import "compass/utilities/sprites/base";
@import "compass";

$main-font: 'Montserrat', sans-serif;
$second-font: 'Lora', serif;

$break-huge: 1150px;
$break-bigger: 1060px;
$break-big: 960px;
$break-larger:830px;
$break-large:700px;
$break-medium:630px;
$break-medium-small:540px;
$break-small:480px;
$break-smaller:400px;

@mixin trans {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@mixin borderbox {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

@mixin cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
