@import "base";
@import "colors";

body {
  background:$body-bg;
}

header {
  background:$header-bg;
  height:35px;
  width:100%;

  ul {
    width:100%;
    height:100%;
    display:block;
    max-width:1200px;
    padding:0px 10px;
    margin:auto;
    text-align:right;

    @media screen and (max-width: $break-larger) {
      text-align:center;
      overflow:hidden;
    }

    li {
      display:inline-block;
      line-height:35px;
      margin-left:20px;

      @media screen and (max-width: $break-larger) {
        margin-left:10px;
        margin-right:10px;
      }

      a {
        color:rgba(255,255,255,0.3);
        font-size:12px;
        text-decoration:none;
        @include trans;

        &:hover {
          color:rgba(255,255,255,1);
        }
      }
    }
  }
}

nav#mainNav {
  width:90%;
  height:95px;
  max-width:1200px;
  padding:0px 10px;
  margin:auto;
  //margin-bottom:35px;

  @media screen and (max-width: $break-larger) {
    height:auto;
    margin-bottom:20px;
  }

  @media screen and (max-width: $break-medium) {
    height:auto;
    margin-bottom:10px;
  }

  #logo {
    max-width:343px;
    width:100%;
    //height:53px;
    float:left;
    //background:url(../img/logo.png);
    position:relative;
    top:14px;
    @include trans;

    @media screen and (max-width: $break-big) {
      width:250px;
      top:23px;
    }

    @media screen and (max-width: $break-larger) {
      float:none;
      margin:auto;
    }

    a {
      display:block;
      width:100%;
      height:100%;
    }
  }

  ul {
    float:right;
    height:100%;
    text-align:right;
    padding-top:44px;

    @media screen and (max-width: $break-larger) {
      float:none;
      text-align:center;
    }

    li {
      margin-left:50px;
      display:inline-block;
      height:100%;
      @include trans;

      @media screen and (max-width: $break-medium) {
        display:block;
        margin-bottom:20px;
        margin-left:0px;
      }

      @media screen and (max-width: $break-huge) {
        margin-left:20px;
      }

      a {
        color:$mainNav-color;
        @include trans;
        text-decoration:none;
        font-size:20px;

        @media screen and (max-width: $break-huge) {
          font-size:16px;
        }

        &:hover {
          color:$mainNav-color-hover;
        }
      }
    }
  }
}


#getContacted {
  height:100px;
  width:90%;
  max-width:1200px;
  background:$header-bg;
  margin:auto;
  @include border-radius(4px, 4px);
  padding:0px 30px;
  margin-bottom:50px;
  text-align:center;

  @media screen and (max-width: $break-big) {
    height:auto;
    padding:20px 30px;
  }

  h2 {
    font-family:$second-font;
    font-size:23px;
    font-weight:bold;
    color:#fff;
    line-height:100px;
    float:left;

    @media screen and (max-width: $break-big) {
      float:none;
      text-align:center;
      line-height:1;
      margin-bottom:20px;
    }
  }

  form {
    float:right;
    height:100%;
    line-height:100px;

    @media screen and (max-width: $break-big) {
      line-height:1;
    }

    @media screen and (max-width: $break-big) {
      float:none;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    $header-bg;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $header-bg;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $header-bg;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    $header-bg;
    }

    .input_wrapper {
      display:inline-block;
      position:relative;
      margin-left:10px;


      @media screen and (max-width: $break-big) {
        margin-bottom:10px;
      }

      label {
        position:absolute;
        height:40px;
        left:0px;
        top:calc(50% - 20px);
        background:rgba(255,255,255,0);
        line-height:40px;
        padding:0px 10px;
        font-size:14px;
        color:$header-bg;
        @include border-right-radius(0px);
        @include border-left-radius(4px);
        transform:translateX(0%);
        @include trans;
        cursor:text;
      }
    }

    input:valid + label {
      opacity:0;
    }

    input:focus + label {
      left:100%;
      background:$getContacted-submit-bg;
      color:white;
      transform:translateX(-100%);
      @include border-left-radius(0px);
      @include border-right-radius(4px);
      opacity:1;
    }

    input {
      height:40px;
      line-height:40px;
    }

    input[type="text"] {
      padding:0px 15px;
      background:#fff;
      border:none;
      @include border-radius(4px,4px);
      color:$header-bg;
      font-size:14px;

    }

    input[type="submit"] {
      background:$getContacted-submit-bg;
      border:none;
      color:#fff;
      padding:0px 40px;
      @include border-radius(4px,4px);
      font-weight:bold;
      font-size:14px;
      text-transform:uppercase;
      cursor:pointer;
      @include trans;

      @media screen and (max-width: $break-big) {
        display:block;
        margin:auto;
        text-align:center;
      }

      &:hover {
        color:$getContacted-submit-bg;
        background:#fff;
      }
    }
  }
}

main {
  width:90%;
  max-width:1200px;
  padding:0px 10px;
  margin:auto;
  margin-bottom:120px;

  @media screen and (max-width: $break-large) {
    margin-bottom:50px;
  }

  nav#subMenu {
    width:300px;
    min-height:500px;
    float:left;
    padding:0px 10px;
    @include trans;

    &.active {
      left:-10px;
      opacity:1;
    }

    &.hidden {
      display:none;
    }

    .current_page_item {

      a {
        font-weight: bold;
        color: #363e46;
        padding-left: 10px;
      }

      ul li a {
        font-weight:normal;
        padding-left:0px;
        color: $getContacted-submit-bg;
      }
    }

    @media screen and (max-width: $break-medium) {
      position:fixed;
      max-height:90vh;
      top:50%;
      transform:translateY(-50%);
      left:-278px;
      border:1px solid rgba(0,0,0,0.3);
      @include border-radius(4px,4px);
      background:white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      z-index:100;
      opacity:0.6;
      min-height:0px;
      padding:0;
    }


    #mob_wrap {
      @media screen and (max-width: $break-medium) {
        width:100%;
        height:100%;
        padding:30px;
        overflow:auto;
        max-height:90vh;
      }
    }


    h1 {
      font-family:$second-font;
      font-weight:bold;
      font-size:26px;
      margin-bottom:30px;
      color:$header-bg;
    }

    #subMenuToggler {
        display:none;
        cursor:pointer;

        @media screen and (max-width: $break-medium) {
          position:absolute;
          padding:15px;
          top:50%;
          transform:translateY(-50%);
          right:-25px;
          @include border-radius(50%);
          background:white;
          display:block;
          box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.16), 3px 2px 4px 0 rgba(0, 0, 0, 0.12);
        }

        span {
          display:block;
          opacity:0.5;
        }
    }

    ul {
      @media screen and (max-width: $break-medium) {
        margin-left:20px;
      }
    }

    ul li {
      margin-bottom:25px;
      list-style-image:url("../img/list-style.png");
      line-height:16px;

      @media screen and (max-width: $break-medium) {

      }
    }

    ul li ul {
      margin-top:15px;

      @media screen and (max-width: $break-medium) {
        margin-left:15px;
      }
    }

    ul li ul li {
      list-style-type:none;
      list-style-image:none;
      margin-bottom:15px;
      margin-left:10px;

      a {
        font-size:12px;
        line-height:12px;
      }
    }

    ul li a {
      color:$getContacted-submit-bg;
      text-decoration:none;
      font-size:16px;
      line-height:16px;
      @include trans;
      &:hover {
        padding-left:10px;
        color:$header-bg;
      }
    }
  }

  #mainContent {
    width:calc(100% - 320px);
    float:right;
    min-height:500px;
    line-height:1.5;

    &.sidebar_disabled {

    }

    @media screen and (max-width: $break-medium) {
      width:100%;
      float:none;
      padding:10px;
    }

    color:$header-bg;

    h1 {
      font-size:38px;
      font-family:$second-font;
      @include trans;
      margin-bottom:15px;
      font-weight:bold;
      @include trans;

      @media screen and (max-width: $break-big) {
        font-size:32px;
      }

      @media screen and (max-width: $break-larger) {
        font-size:24px;
      }

    }

    h1 + h2, h1 + h3, h1 + h4 {
      padding-top:0px;
    }

    h2 {
      font-size:28px;
      line-height:1.5;
      margin-bottom:0px;
      font-weight:bold;
      font-family:$second-font;
      @include trans;
      padding-top:15px;

      @media screen and (max-width: $break-larger) {
        font-size:22px;
      }
    }

    h3 {
      font-size:22px;
      line-height:1.5;
      margin-bottom:0px;
      padding-top:15px;
      font-weight:bold;
      font-family:$second-font;
      @include trans;

      @media screen and (max-width: $break-larger) {
        font-size:18px;
      }
    }

    h4 {
      font-size:18px;
      line-height:1.5;
      margin-bottom:0px;
      font-weight:bold;
      font-family:$second-font;
      @include trans;
      padding-top:15px;

      @media screen and (max-width: $break-larger) {
        font-size:16px;
      }
    }

    p {
      font-size:14px;
      line-height:1.5;
      margin-bottom:15px;
    }

    em {
      font-size:14px;
      line-height:1.5;
      margin-bottom:15px;
      font-style:italic;
      display:block;
    }

    img {
      max-width:100%;
      margin-bottom:25px;
    }

    a {
      text-decoration:none;
      color:$getContacted-submit-bg;

      &:hover {
        text-decoration:underline;
      }
    }

    ul {
      list-style-type:disc;
      list-style-position:inside;
      margin-bottom:25px;
      margin-top:25px;
      margin-left:30px;

      li {
        font-size:18px;
        //line-height:1.8;
        padding:5px 0px;
      }
    }

    form {

      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $header-bg;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $header-bg;
        opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $header-bg;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $header-bg;
      }

      .form_row {
        width:100%;
      }

      .input_wrapper {
        display:inline-block;
        position:relative;
        margin-bottom:10px;

        label {
          position:absolute;
          height:40px;
          left:0px;
          top:calc(50% - 20px);
          background:rgba(255,255,255,0);
          line-height:40px;
          padding:0px 10px;
          font-size:14px;
          color:$header-bg;
          @include border-right-radius(0px);
          @include border-left-radius(4px);
          transform:translateX(0%);
          @include trans;
          cursor:text;
        }
      }

      input:valid + label, textarea:valid + label  {
        opacity:0;
      }

      textarea + label {
        top:0px!important;
      }

      input:focus + label, textarea:focus + label {
        left:100%;
        background:$getContacted-submit-bg;
        color:white;
        transform:translateX(-100%);
        @include border-left-radius(0px);
        @include border-right-radius(4px);
        opacity:1;
      }

      input {
        height:40px;
        line-height:40px;
        border:1px solid rgba(0,0,0,0.4);
        outline:none;
        width:200px;
      }

      textarea {
        padding:15px 15px;
        background:#fff;
        border:1px solid rgba(0,0,0,0.4);
        @include border-radius(4px,4px);
        color:$header-bg;
        font-size:14px;
        width:404px;
        height:200px;

        @media screen and (max-width: $break-small) {
          width:200px;
        }
      }

      input[type="text"] {
        padding:0px 15px;
        background:#fff;
        border:1px solid rgba(0,0,0,0.4);
        @include border-radius(4px,4px);
        color:$header-bg;
        font-size:14px;
      }

      input[type="email"] {
        padding:0px 15px;
        background:#fff;
        border:1px solid rgba(0,0,0,0.4);
        @include border-radius(4px,4px);
        color:$header-bg;
        font-size:14px;
      }

      input[type="submit"] {
        background:$getContacted-submit-bg;
        border:none;
        color:#fff;
        padding:0px 40px;
        @include border-radius(4px,4px);
        font-weight:bold;
        font-size:14px;
        text-transform:uppercase;
        cursor:pointer;
        @include trans;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

        &:hover {
          color:$getContacted-submit-bg;
          background:#fff;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
      }
    }

    .accordion {
      width:100%;

      section {
        width:100%;
        background:#e4e7ea;
        overflow:hidden;
        padding:20px;
        @include trans;
        color:rgba(54, 62, 70, 0.4);
        @include border-radius(4px,4px);
        position:relative;
        margin-bottom:10px;

        .accordion-heading {
          display:block;
          width:100%;
          cursor:pointer;
          padding-right:40px;
          margin-bottom:0px;
          padding-top:0px;
        }

        .accordion-toggler {
          background:white;
          color:#6eaec5;
          width:35px;
          height:35px;
          position:absolute;
          right:15px;
          top:13px;
          @include border-radius(4px,4px);
          text-align:center;
          cursor:pointer;
          @include noselect;

          &:before {
            content:"+";
            font-size:20px;
            width:100%;
            height:100%;
            line-height:35px;
            text-align:center;
          }
        }

        &.active {
          background:#6eaec5;
          color:rgba(255,255,255,1);

          .accordion-toggler {
            &:before {
              content:"-";
            }
          }
        }

        a {
          color:white;
          text-decoration:underline;
        }
        h2 {
          font-size:20px;
          @include trans;

          @media screen and (max-width: $break-large) {
            font-size:16px;
          }
          @include noselect;
        }

        .accordion-content {
          margin-top:30px;
          display:none;
        }
      }
    }
  }
}


footer {
  width:100%;
  background:$footer-bg;;
  //min-height:275px;
  padding:40px 10px 70px 10px;

  .sectionContainer {
    width:100%;
    max-width:1200px;
    margin:auto;
    position:relative;
  }

  small {
    position:absolute;
    right:10px;
    bottom:-60px;
    font-size:14px;
    color:$header-bg;

    @media screen and (max-width: $break-medium) {
      text-align:center;
      width:100%;
      right:0;
    }
  }

  section {
    width:30%;
    display:block;
    float:left;
    padding:10px;
    font-size:14px;
    color:$header-bg;
    min-width:200px;

    @media screen and (max-width: $break-medium) {
      width:100%;
      float:none;
      padding: 10px calc(50% - 110px);
    }

    img {
      margin-bottom:5px;
    }

    a {
      color:$getContacted-submit-bg;
      text-decoration:none;
      font-weight:bold;
      @include trans;

      &:hover {
        color:$header-bg;
      }
    }

    p {
      line-height:1.5;
    }

    h4 {
      font-size:26px;
      font-weight:bold;
      font-family:$second-font;
      color:$header-bg;
      margin-bottom:25px;
    }

    ul  {
      list-style-type:none;

      li {
        margin-bottom:10px;
      }

    }
  }
}


.mailModal {
  width:90%;
  max-width:1200px;
  background:green;
  margin:auto;
  text-align:center;
  padding:30px 10px;
  color:#3c763d;
  background:#dff0d8;
  border:1px solid #d6e9c6;
  @include border-radius(4px,4px);
  margin-bottom:20px;
  line-height:1.5;
}

strong {
  font-weight:bold;
}
#mainContent {
  table.ledelsen {
    tr {
      background:#efeeee;
      border-bottom:25px solid white;

      td {
        padding:20px;
      }
      @include border-radius(4px, 4px);

      td img {
        @include border-radius(4px,4px);
      }

      td h2, td h3, td h4, {
        padding-top:0px;
      }

      td h3, td h4 {
        margin-bottom:5px;
      }
    }

    td {
      vertical-align:top;
      &:nth-child(1) {
        width:205px;
      }
      &:nth-child(2) {
        padding:20px 20px 20px 0px;
      }
    }
  }
}



//Frontpage styles:

#frontSlider {
  width:100%;
  max-height:490px;
  border-bottom:10px solid #6eaec5;
  margin-bottom:35px;
  position:relative;
  box-sizing:content-box;

  #colorOverlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(35, 40, 45, 0.6);
    width:100%;
    height:100%;
  }
}

#frontFeatures {
  width: 90%;
  max-width: 1200px;
  margin:auto;
  margin-bottom:35px;

  h2 {
    font-size:23px;
    font-weight:bold;
    color:#363e46;
    font-family: $main-font;
    padding-left:10px;
  }

  #featuresContainer {
    width:100%;
    margin-top:25px;

    &:before, &:after {
      display:block;
      content:"";
      clear:both;
    }

    .feature {
      float:left;
      height:275px;
      width:25%;
      color:white;
      padding:40px 30px 30px 30px;
      position:relative;
      @include trans;

      @media screen and (max-width: $break-big) {
        width:50%;
        height:255px;
      }

      @media screen and (max-width: $break-small) {
        width:100%;
        height:255px;
      }

      h2 {
        font-size:23px;
        font-weight:bold;
        font-family:$second-font;
        margin-bottom:15px;
        color:white;
        padding-left:0px;
      }

      p {
        font-size:14px;
        font-family:$main-font;
        line-height:1.5;
      }

      .readmore {
        position:absolute;
        color:white;
        bottom:30px;
        left:30px;
        text-decoration:none;
        font-family:$main-font;
        text-transform:uppercase;
        font-size:14px;
        font-weight:bold;

        &:hover {
          text-decoration:underline;
        }
      }

      &:nth-child(1) {
        background:#93c8db;
      }

      &:nth-child(2) {
        background:#6eaec5;
      }

      &:nth-child(3) {
        background:#408ba6;
      }

      &:nth-child(4) {
        background:#2e5867;
      }

    }
  }
}

.sliderBtn {
  background:$getContacted-submit-bg;
  border:none;
  color:#fff;
  padding:10px 20px;
  @include border-radius(4px,4px);
  font-weight:bold;
  font-size:14px;
  text-transform:uppercase;
  cursor:pointer;
  @include trans;
  text-decoration:none;

  &:hover {
    color:$getContacted-submit-bg;
    background:#fff;
  }
}
