/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "colors";
@import "base";
@import "frame";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

* {
  box-sizing:border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.cf {
  clear:both;
}

$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;
