doctype html
html
  head
    title Partner Dialog
    link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
  body
    header
      ul
        li
          a href="#" Kundeanalyse
        li
          a href="#" Leadgenerering
        li
          a href="#" Mødebooking
        li
          a href="#" Salgsstrategi
        li
          a href="#" Salgstræning
    nav#mainNav
      #logo
        a href="#"
      ul
        li
          a href="#" Virksomheden
        li
          a href="#" Kompetencer
        li
          a href="#" Kunder
        li
          a href="#" Kontakt
    #getContacted
      h2 Skal vi kontakte dig?
      form
        input type="text" placeholder="Navn"
        input type="text" placeholder="Telefon"
        input type="submit" value="send"

    main
      nav#subMenu
      #mainContent
      .cf
    footer
