/* line 4, ../../scss/frame.scss */
body {
  background: #fff;
}

/* line 8, ../../scss/frame.scss */
header {
  background: #363e46;
  height: 35px;
  width: 100%;
}
/* line 13, ../../scss/frame.scss */
header ul {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 1200px;
  padding: 0px 10px;
  margin: auto;
  text-align: right;
}
@media screen and (max-width: 830px) {
  /* line 13, ../../scss/frame.scss */
  header ul {
    text-align: center;
    overflow: hidden;
  }
}
/* line 27, ../../scss/frame.scss */
header ul li {
  display: inline-block;
  line-height: 35px;
  margin-left: 20px;
}
@media screen and (max-width: 830px) {
  /* line 27, ../../scss/frame.scss */
  header ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* line 37, ../../scss/frame.scss */
header ul li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 43, ../../scss/frame.scss */
header ul li a:hover {
  color: white;
}

/* line 51, ../../scss/frame.scss */
nav#mainNav {
  width: 100%;
  height: 95px;
  max-width: 1200px;
  padding: 0px 10px;
  margin: auto;
  margin-bottom: 35px;
}
@media screen and (max-width: 630px) {
  /* line 51, ../../scss/frame.scss */
  nav#mainNav {
    height: auto;
    margin-bottom: 10px;
  }
}
/* line 64, ../../scss/frame.scss */
nav#mainNav #logo {
  max-width: 343px;
  width: 100%;
  float: left;
  position: relative;
  top: 14px;
}
@media screen and (max-width: 830px) {
  /* line 64, ../../scss/frame.scss */
  nav#mainNav #logo {
    float: none;
    margin: auto;
  }
}
/* line 81, ../../scss/frame.scss */
nav#mainNav #logo a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 88, ../../scss/frame.scss */
nav#mainNav ul {
  float: right;
  height: 100%;
  text-align: right;
  padding-top: 44px;
}
@media screen and (max-width: 830px) {
  /* line 88, ../../scss/frame.scss */
  nav#mainNav ul {
    float: none;
    text-align: center;
  }
}
/* line 99, ../../scss/frame.scss */
nav#mainNav ul li {
  margin-left: 50px;
  display: inline-block;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 630px) {
  /* line 99, ../../scss/frame.scss */
  nav#mainNav ul li {
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1060px) {
  /* line 99, ../../scss/frame.scss */
  nav#mainNav ul li {
    margin-left: 20px;
  }
}
/* line 115, ../../scss/frame.scss */
nav#mainNav ul li a {
  color: #363e46;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 1060px) {
  /* line 115, ../../scss/frame.scss */
  nav#mainNav ul li a {
    font-size: 16px;
  }
}
/* line 125, ../../scss/frame.scss */
nav#mainNav ul li a:hover {
  color: #6eaec5;
}

/* line 134, ../../scss/frame.scss */
#getContacted {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  background: #363e46;
  margin: auto;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  padding: 0px 30px;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  /* line 134, ../../scss/frame.scss */
  #getContacted {
    height: auto;
    padding: 20px 30px;
  }
}
/* line 150, ../../scss/frame.scss */
#getContacted h2 {
  font-family: "Lora", serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  line-height: 100px;
  float: left;
}
@media screen and (max-width: 960px) {
  /* line 150, ../../scss/frame.scss */
  #getContacted h2 {
    float: none;
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
  }
}
/* line 166, ../../scss/frame.scss */
#getContacted form {
  float: right;
  height: 100%;
  line-height: 100px;
}
@media screen and (max-width: 960px) {
  /* line 166, ../../scss/frame.scss */
  #getContacted form {
    line-height: 1;
  }
}
@media screen and (max-width: 960px) {
  /* line 166, ../../scss/frame.scss */
  #getContacted form {
    float: none;
  }
}
/* line 179, ../../scss/frame.scss */
#getContacted form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #363e46;
}
/* line 182, ../../scss/frame.scss */
#getContacted form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #363e46;
  opacity: 1;
}
/* line 186, ../../scss/frame.scss */
#getContacted form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #363e46;
  opacity: 1;
}
/* line 190, ../../scss/frame.scss */
#getContacted form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #363e46;
}
/* line 194, ../../scss/frame.scss */
#getContacted form .input_wrapper {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
@media screen and (max-width: 960px) {
  /* line 199, ../../scss/frame.scss */
  #getContacted form .input_wrapper:nth-child(3) {
    display: block;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  /* line 194, ../../scss/frame.scss */
  #getContacted form .input_wrapper {
    margin-bottom: 10px;
  }
}
/* line 211, ../../scss/frame.scss */
#getContacted form .input_wrapper label {
  position: absolute;
  height: 40px;
  left: 0px;
  top: calc(50% - 20px);
  background: rgba(255, 255, 255, 0);
  line-height: 40px;
  padding: 0px 10px;
  font-size: 14px;
  color: #363e46;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transform: translateX(0%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: text;
}
/* line 229, ../../scss/frame.scss */
#getContacted form input:valid + label {
  opacity: 0;
}
/* line 233, ../../scss/frame.scss */
#getContacted form input:focus + label {
  left: 100%;
  background: #6eaec5;
  color: white;
  transform: translateX(-100%);
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 1;
}
/* line 243, ../../scss/frame.scss */
#getContacted form input {
  height: 40px;
  line-height: 40px;
}
/* line 248, ../../scss/frame.scss */
#getContacted form input[type="text"] {
  padding: 0px 15px;
  background: #fff;
  border: none;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  color: #363e46;
  font-size: 14px;
}
/* line 258, ../../scss/frame.scss */
#getContacted form input[type="submit"] {
  background: #6eaec5;
  border: none;
  color: #fff;
  padding: 0px 40px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 270, ../../scss/frame.scss */
#getContacted form input[type="submit"]:hover {
  color: #6eaec5;
  background: #fff;
}

/* line 278, ../../scss/frame.scss */
main {
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px;
  margin: auto;
  margin-bottom: 120px;
}
@media screen and (max-width: 700px) {
  /* line 278, ../../scss/frame.scss */
  main {
    margin-bottom: 50px;
  }
}
/* line 289, ../../scss/frame.scss */
main nav#subMenu {
  width: 300px;
  min-height: 500px;
  float: left;
  padding: 0px 10px;
}
@media screen and (max-width: 630px) {
  /* line 289, ../../scss/frame.scss */
  main nav#subMenu {
    float: none;
    width: 100%;
    text-align: center;
    display: none;
  }
}
/* line 303, ../../scss/frame.scss */
main nav#subMenu h1 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
  color: #363e46;
}
@media screen and (max-width: 630px) {
  /* line 311, ../../scss/frame.scss */
  main nav#subMenu ul {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 0px solid rgba(0, 0, 0, 0.8);
  }
}
/* line 318, ../../scss/frame.scss */
main nav#subMenu ul li {
  margin-bottom: 25px;
  list-style-image: url("../img/list-style.png");
  line-height: 16px;
}
@media screen and (max-width: 630px) {
  /* line 318, ../../scss/frame.scss */
  main nav#subMenu ul li {
    list-style-image: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
    padding: 10px 0px;
  }
}
/* line 332, ../../scss/frame.scss */
main nav#subMenu ul li ul {
  margin-top: 15px;
}
@media screen and (max-width: 630px) {
  /* line 332, ../../scss/frame.scss */
  main nav#subMenu ul li ul {
    border: none;
  }
}
/* line 340, ../../scss/frame.scss */
main nav#subMenu ul li ul li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 15px;
  margin-left: 10px;
}
@media screen and (max-width: 630px) {
  /* line 340, ../../scss/frame.scss */
  main nav#subMenu ul li ul li {
    margin-left: 0px;
  }
}
/* line 351, ../../scss/frame.scss */
main nav#subMenu ul li a {
  color: #6eaec5;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 357, ../../scss/frame.scss */
main nav#subMenu ul li a:hover {
  padding-left: 10px;
  color: #363e46;
}
/* line 364, ../../scss/frame.scss */
main #mainContent {
  width: calc(100% - 320px);
  float: right;
  min-height: 500px;
  color: #363e46;
}
@media screen and (max-width: 630px) {
  /* line 364, ../../scss/frame.scss */
  main #mainContent {
    width: 100%;
    float: none;
    padding: 10px;
  }
}
/* line 377, ../../scss/frame.scss */
main #mainContent h1 {
  font-size: 50px;
  font-family: "Lora", serif;
  margin-bottom: 20px;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 960px) {
  /* line 377, ../../scss/frame.scss */
  main #mainContent h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 830px) {
  /* line 377, ../../scss/frame.scss */
  main #mainContent h1 {
    font-size: 24px;
  }
}
/* line 393, ../../scss/frame.scss */
main #mainContent h3 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media screen and (max-width: 830px) {
  /* line 393, ../../scss/frame.scss */
  main #mainContent h3 {
    font-size: 18px;
  }
}
/* line 403, ../../scss/frame.scss */
main #mainContent p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}
/* line 409, ../../scss/frame.scss */
main #mainContent img {
  max-width: 100%;
  margin-bottom: 25px;
}
/* line 414, ../../scss/frame.scss */
main #mainContent a {
  text-decoration: none;
  color: #6eaec5;
}
/* line 418, ../../scss/frame.scss */
main #mainContent a:hover {
  text-decoration: underline;
}
/* line 423, ../../scss/frame.scss */
main #mainContent ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 25px;
}
/* line 428, ../../scss/frame.scss */
main #mainContent ul li {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 434, ../../scss/frame.scss */
main #mainContent .accordion {
  width: 100%;
}
/* line 437, ../../scss/frame.scss */
main #mainContent .accordion section {
  width: 100%;
  background: #e4e7ea;
  overflow: hidden;
  padding: 20px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: rgba(54, 62, 70, 0.4);
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  position: relative;
  margin-bottom: 10px;
}
/* line 448, ../../scss/frame.scss */
main #mainContent .accordion section .accordion-heading {
  display: block;
  width: 100%;
  cursor: pointer;
  padding-right: 40px;
}
/* line 455, ../../scss/frame.scss */
main #mainContent .accordion section .accordion-toggler {
  background: white;
  color: #6eaec5;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 15px;
  top: 13px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 468, ../../scss/frame.scss */
main #mainContent .accordion section .accordion-toggler:before {
  content: "+";
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
}
/* line 478, ../../scss/frame.scss */
main #mainContent .accordion section.active {
  background: #6eaec5;
  color: white;
}
/* line 483, ../../scss/frame.scss */
main #mainContent .accordion section.active .accordion-toggler:before {
  content: "-";
}
/* line 489, ../../scss/frame.scss */
main #mainContent .accordion section a {
  color: white;
  text-decoration: underline;
}
/* line 493, ../../scss/frame.scss */
main #mainContent .accordion section h2 {
  font-size: 20px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 700px) {
  /* line 493, ../../scss/frame.scss */
  main #mainContent .accordion section h2 {
    font-size: 16px;
  }
}
/* line 503, ../../scss/frame.scss */
main #mainContent .accordion section .accordion-content {
  margin-top: 30px;
  display: none;
}

/* line 513, ../../scss/frame.scss */
footer {
  width: 100%;
  background: #e4e7ea;
  padding: 40px 10px 70px 10px;
}
/* line 519, ../../scss/frame.scss */
footer .sectionContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
/* line 526, ../../scss/frame.scss */
footer small {
  position: absolute;
  right: 10px;
  bottom: -60px;
  font-size: 14px;
  color: #363e46;
}
@media screen and (max-width: 630px) {
  /* line 526, ../../scss/frame.scss */
  footer small {
    text-align: center;
    width: 100%;
    right: 0;
  }
}
/* line 540, ../../scss/frame.scss */
footer section {
  width: 30%;
  display: block;
  float: left;
  padding: 10px;
  font-size: 14px;
  color: #363e46;
  min-width: 200px;
}
@media screen and (max-width: 630px) {
  /* line 540, ../../scss/frame.scss */
  footer section {
    width: 100%;
    float: none;
    padding: 10px calc(50% - 110px);
  }
}
/* line 555, ../../scss/frame.scss */
footer section img {
  margin-bottom: 5px;
}
/* line 559, ../../scss/frame.scss */
footer section a {
  color: #6eaec5;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 565, ../../scss/frame.scss */
footer section a:hover {
  color: #363e46;
}
/* line 570, ../../scss/frame.scss */
footer section p {
  line-height: 1.5;
}
/* line 574, ../../scss/frame.scss */
footer section h4 {
  font-size: 26px;
  font-weight: bold;
  font-family: "Lora", serif;
  color: #363e46;
  margin-bottom: 25px;
}
/* line 582, ../../scss/frame.scss */
footer section ul {
  list-style-type: none;
}
/* line 585, ../../scss/frame.scss */
footer section ul li {
  margin-bottom: 10px;
}
